.navigation {
  position: relative;

  width: 100%;
  height: 100%;
  height: 800px;
  padding: 0 10px 20px;
  border-radius: 20px 0 0 20px;

  display: grid;
  align-content: start;

  background: #e3e8ff;
}

.menu {
  z-index: 3;
  position: absolute;
  top: 59px;
  right: -76px;

  width: 202px;
}

.header {
  z-index: 1;
  position: sticky;
  top: 0px;
  left: 0px;

  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #bbbbbb;

  display: grid;
  grid-template-columns: auto 30px;
  justify-items: start;
  align-items: center;
  gap: 10px;

  background: #e3e8ff;
}

.vaultLink {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 8px;
}

.vaultLink p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  font: var(--sf-pro-text-caption);
  font-weight: 600;
}

.sortButton {
  width: 30px;
  height: 30px;
  border-radius: 8px;

  display: grid;
  place-items: center;

  transition: var(--fast-transition);
}

.sortButton:hover,
.sortButton.active {
  background: white;
}

.sortButton svg path:nth-of-type(1) {
  opacity: 0.6;
}

.sortButton:hover svg path:nth-of-type(1),
.sortButton.active svg path:nth-of-type(1) {
  opacity: 1;
}

.primaryNavigation {
  overflow: scroll;
  padding: 20px 0;
  margin-bottom: -20px;

  display: grid;
  gap: 30px;
}
