.widget {
  position: relative;

  width: clamp(300px, 100%, 800px);
  height: 800px;
  border-radius: 20px;

  display: grid;
  grid-template-columns: minmax(160px, 3fr) 7fr;

  background: white;
  box-shadow: var(--light-heavy-shadow);
}

.menu {
  z-index: 1;
  position: absolute;
  top: 62px;
  right: -41px;

  width: 252px;
  min-width: 130px;
}

@media (max-width: 884px) {
  .menu {
    right: 20px;
  }
}

.items {
  padding: 20px;
  height: 800px;

  display: grid;
  gap: 20px;
  align-content: start;
}

.actions {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
}

.addButton {
  padding: 6px 12px;
  border-radius: 6px;
  box-shadow: inset 0 0 0 1px var(--blue-accent);

  display: grid;
  grid-template-columns: 16px auto;
  gap: 8px;
  align-items: center;
  justify-items: start;

  transition: var(--fast-transition);
}

.addButton:hover {
  background: var(--blue-accent);
}

.addButton::after {
  content: "New item";

  color: var(--blue-accent);

  font: var(--sf-pro-text-caption);
  font-weight: 500;
}

.addButton:hover::after {
  color: white;
}

.addButton svg path {
  fill: var(--blue-accent);
}

.addButton:hover svg path {
  fill: white;
}

@media (max-width: 460px) {
  .menu {
    width: calc(100% - 200px);
  }
  .actions {
    grid-template-columns: none;
  }
  .addButton {
    order: -1;
    justify-content: center;
  }
}

@media (max-width: 350px) {
  .addButton::after {
    content: "New";
  }
}

.itemList {
  overflow: scroll;
  padding: 20px 0;
  margin: -20px 0;

  display: grid;
  gap: 20px;
}

.placeholder {
  margin-top: 60px;

  display: grid;
  gap: 10px;
  justify-items: center;
}

.illustration {
  position: relative;

  width: 100%;
  max-width: 240px;
  aspect-ratio: 240 / 174;

  display: grid;
}

.illustration > img {
  object-fit: contain;
}

.texts {
  text-align: center;

  display: grid;
  gap: 10px;
  justify-items: center;
}

.texts p:nth-of-type(1) {
  color: var(--dark-text);

  font: var(--sf-pro-text-caption);
  font-weight: 500;
}

.texts p:nth-of-type(2) {
  color: var(--dark-text2);

  font: var(--sf-pro-text-small);
}
