.wrapper {
  position: relative;

  overflow: scroll;
  min-width: 100vw;
  min-height: 100vh;
  padding: 10px;

  display: grid;
  gap: 30px;
  place-items: start;

  background: var(--light-background);
  /* background: var(--dark-background); */
}

.overlayBackground {
  display: none;
}

.cards {
  width: 100%;
  max-width: 1190px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

@media (max-width: 660px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
