.icon {
  transition: var(--fast-transition);
}

.icon path {
  fill-rule: evenodd;
  clip-rule: evenodd;

  fill: black;
}

.icon path:nth-of-type(2) {
  fill-opacity: 0.4;
}

.icon path:nth-of-type(3) {
  fill-opacity: 0.3;
}
