.section {
  width: 100%;
  margin-top: clamp(200px, 32vw, 400px);

  display: grid;
  justify-items: center;
}

.content {
  z-index: 1;
  position: relative;

  width: 100%;
  max-width: 1250px;
  padding: 0 30px;

  display: grid;
  gap: 60px;
}

@media (max-width: 900px) {
  .content {
    gap: 40px;
  }
}

@media (max-width: 690px) {
  .content {
    padding: 0 15px;
  }
}

@media (max-width: 330px) {
  .content {
    padding: 0 10px;
  }
}

.grid {
  position: absolute;
  top: 0;
  left: 100%;

  transform: translateX(-100%) translateY(-100%);
}

@media (max-width: 900px) {
  .grid {
    top: 60px;
  }
}

@media (max-width: 660px) {
  .grid {
    display: none;
  }
}

.texts {
  max-width: 380px;
  text-align: center;

  display: grid;
  gap: 20px;
  justify-self: center;
}

.title {
  font: var(--sf-pro-display-h3);
}

.description {
  font: var(--sf-pro-text-medium);
}

@media (max-width: 900px) {
  .title {
    font: var(--sf-pro-display-h4);
  }

  .description {
    max-width: 330px;

    font: var(--sf-pro-text-caption);
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  justify-items: center;
}

@media (max-width: 660px) {
  .cards {
    grid-template-columns: none;
  }
}
