:root {
  /* Shadow */
  --light-soft-shadow: 0px 10px 20px rgba(204, 204, 204, 0.2);
  --light-medium-shadow: 0px 20px 40px rgba(204, 204, 204, 0.4);
  --light-heavy-shadow: 0px 30px 60px rgba(204, 204, 204, 0.6);
  --dark-soft-shadow: 0px 5px 10px rgba(23, 0, 102, 0.1);
  --dark-medium-shadow: 0px 10px 20px rgba(23, 0, 102, 0.2);
  --dark-heavy-shadow: 0px 20px 40px rgba(23, 0, 102, 0.4);

  /* Blur */
  --soft-blur: blur(5px);
  --medium-blur: blur(10px);
  --heavy-blur: blur(20px);

  /* Transition */
  --slow-transition: 2s cubic-bezier(0.2, 0.8, 0.2, 1);
  --medium-transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
  --fast-transition: 0.5s cubic-bezier(0.2, 0.8, 0.2, 1);
  --instant-transition: 0.2s cubic-bezier(0.2, 0.8, 0.2, 1);
}
