@import "color.css";
@import "effect.css";
@import "typography.css";

@font-face {
  font-family: "SF-Pro-Display";
  src: url("/fonts/SF_Pro_Display/SF-Pro-Display-Regular.otf")
    format("opentype");
  font-weight: normal;
  font-display: block;
}
@font-face {
  font-family: "SF-Pro-Display";
  src: url("/fonts/SF_Pro_Display/SF-Pro-Display-Medium.otf") format("opentype");
  font-weight: 500;
  font-display: block;
}
@font-face {
  font-family: "SF-Pro-Display";
  src: url("/fonts/SF_Pro_Display/SF-Pro-Display-Semibold.otf")
    format("opentype");
  font-weight: 600;
  font-display: block;
}
@font-face {
  font-family: "SF-Pro-Display";
  src: url("/fonts/SF_Pro_Display/SF-Pro-Display-Bold.otf") format("opentype");
  font-weight: bold;
  font-display: block;
}
@font-face {
  font-family: "SF-Pro-Text";
  src: url("/fonts/SF_Pro_Text/SF-Pro-Text-Regular.otf") format("opentype");
  font-weight: normal;
  font-display: block;
}
@font-face {
  font-family: "SF-Pro-Text";
  src: url("/fonts/SF_Pro_Text/SF-Pro-Text-Medium.otf") format("opentype");
  font-weight: 500;
  font-display: block;
}
@font-face {
  font-family: "SF-Pro-Text";
  src: url("/fonts/SF_Pro_Text/SF-Pro-Text-Semibold.otf") format("opentype");
  font-weight: 600;
  font-display: block;
}
@font-face {
  font-family: "SF-Pro-Text";
  src: url("/fonts/SF_Pro_Text/SF-Pro-Text-Bold.otf") format("opentype");
  font-weight: bold;
  font-display: block;
}
@font-face {
  font-family: "FiraCode";
  src: url("/fonts/Fira_Code/FiraCode-Regular.ttf") format("opentype");
  font-weight: normal;
  font-display: block;
}
@font-face {
  font-family: "FiraCode";
  src: url("/fonts/Fira_Code/FiraCode-Medium.ttf") format("opentype");
  font-weight: 500;
  font-display: block;
}
@font-face {
  font-family: "FiraCode";
  src: url("/fonts/Fira_Code/FiraCode-SemiBold.ttf") format("opentype");
  font-weight: 600;
  font-display: block;
}
@font-face {
  font-family: "FiraCode";
  src: url("/fonts/Fira_Code/FiraCode-Bold.ttf") format("opentype");
  font-weight: bold;
  font-display: block;
}

@keyframes darken {
  100% {
    background: rgba(0, 0, 0, 0.5);
  }
}

@keyframes blur {
  100% {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: var(--soft-blur);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes stretchFadeIn {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}

@keyframes slideDownFadeIn {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes scaleUpFadeIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slideDownScaleUpFadeIn {
  0% {
    transform: translateY(-50px) scale(0.8);
    opacity: 0;
  }
  100% {
    transform: translateY(0px) scale(1);
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
p,
a,
img,
form,
label,
video,
button,
input,
textarea {
  margin: 0;
  padding: 0;
  border: 0;

  color: inherit;

  font: inherit;
  font-size: 100%;

  outline: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: transparent;

  cursor: pointer;
}

a {
  text-decoration: none;
}

label {
  white-space: nowrap;

  display: grid;

  color: var(--dark-text);

  font: var(--sf-pro-text-small);
  font-weight: 500;

  cursor: pointer;
}

input {
  width: 100%;
  height: calc(100% - 2px);
}

input,
textarea {
  font: var(--sf-pro-text-small);
}

input::placeholder,
textarea::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
  transition-delay: 9999s;
}
