.tooltip {
  position: relative;

  width: 100%;
  max-width: 300px;
  padding: 12px;
  border-radius: 12px;

  display: grid;
  gap: 6px;

  background: white;
  box-shadow: 0px 0px 20px 0px rgba(204, 204, 204, 0.6);
}

.tooltip :global {
  animation: fadeIn 0.5s cubic-bezier(0.2, 0.8, 0.2, 1) forwards;
}

.title {
  color: var(--dark-text);

  font: var(--sf-pro-text-small);
  font-weight: 500;
}

.description {
  color: var(--dark-text2);

  font: var(--sf-pro-text-tiny);
}
