.card {
  position: relative;

  width: clamp(300px, 100%, 320px);
  height: 466px;
  overflow: hidden;
  border-radius: 20px;

  background: white;
  box-shadow: var(--light-medium-shadow);
}

.background {
  height: 220px;

  display: grid;
  place-items: center;
}

.actionButtons {
  position: absolute;
  top: 204px;
  right: 20px;

  display: grid;
  grid-auto-flow: column;
  gap: 16px;
}

.actionButtons button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px #cccccc;

  display: grid;
  place-items: center;

  background: #eeeeee;
}

.content {
  height: 246px;
  padding: 20px;

  display: grid;
  gap: 20px;
  align-items: start;
}

.texts {
  display: grid;
  gap: 10px;
}

.texts p {
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
}

.texts p:nth-of-type(1) {
  white-space: nowrap;

  font: var(--sf-pro-display-h5);
}

.texts p:nth-of-type(2) {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;

  font: var(--sf-pro-text-small);
}

.submitButtons {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-self: end;
  gap: 12px;
}
