.bar {
  position: relative;

  width: 100%;
  height: 8px;
  border-radius: 6px;
  overflow: hidden;

  background: #eeeeee;
}

.progress {
  position: absolute;

  height: 8px;

  background: var(--blue-accent);

  transition: var(--medium-transition);
}
