.button {
  width: 30px;
  height: 30px;
  border-radius: 50%;

  display: grid;
  place-items: center;

  color: black;

  font: var(--sf-pro-text-small);
}

.button:hover,
.button.active {
  color: white;
  background: var(--blue-accent);
}
