.wrapper {
  position: relative;

  min-width: 100vw;
  min-height: 100vh;

  background: var(--light-background);
}

.form {
  overflow: scroll;
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 30px;

  display: grid;
  place-items: center;
}

@media (max-width: 690px) {
  .form {
    padding: 15px;
  }
}

@media (max-width: 330px) {
  .form {
    padding: 10px;
  }
}

.contentWrapper {
  min-height: 100vh;
  padding: 140px 30px 30px;

  display: grid;
  justify-items: center;

  transition: var(--medium-transition);
}

@media (max-width: 690px) {
  .contentWrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 330px) {
  .contentWrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
}
