.button {
  border-radius: 6px;

  display: grid;
  place-items: center;
}

.button.big {
  width: 36px;
  height: 36px;
}

.button.small {
  width: 28px;
  height: 28px;
}

.illustration {
  position: relative;

  width: 85%;
  height: 85%;
}
