.card * {
  transition: var(--medium-transition);
}

.card {
  position: relative;

  width: 100%;
  height: 290px;
}

.frontCard {
  position: absolute;
  z-index: 2;

  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 30px;

  display: grid;
  place-items: center;
}

.card.hover:hover .frontCard {
  width: calc(100% - 72px);
}

.frontCard::before {
  z-index: 2;
  position: absolute;

  width: 100%;
  height: 100%;
  border-radius: 30px;
  box-shadow: inset 0 0 0 2px white;
  content: "";

  opacity: 0;
}

.frontCard img {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
}

.card:hover .frontCard::before {
  opacity: 1;
}

.texts {
  position: absolute;
  bottom: 0;
  z-index: 1;

  width: 100%;
  height: 146px;
  padding: 20px;

  display: grid;
  gap: 8px;
  align-content: start;

  color: white;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: var(--medium-blur);
}

.card.hover:hover .texts {
  height: 166px;
}

.texts span {
  font-weight: 600;
}

.texts p {
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
}

.texts p:nth-of-type(1) {
  white-space: nowrap;

  font: var(--sf-pro-text-large);
  font-weight: 600;
}

.texts p:nth-of-type(2) {
  font: var(--sf-pro-text-small);
}

.texts p:nth-of-type(3) {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  font: var(--sf-pro-text-small);
}

.card:hover .texts p:nth-of-type(3) {
  -webkit-line-clamp: 3;
}

.backCard {
  position: absolute;
  right: 72px;

  width: 120px;
  height: 100%;
  border-radius: 30px;

  background: #cfd4ec;
}

.card:hover .backCard {
  transform: translateX(72px);
}

.avatars {
  position: absolute;
  top: 20px;
  right: 20px;

  display: grid;
  gap: 10px;
}

.button {
  position: absolute;
  bottom: 20px;
  right: 20px;

  width: 32px;
  height: 32px;
  border-radius: 50%;

  display: grid;
  place-items: center;

  background: white;
}
