.navigation {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;

  height: 100%;

  transition: var(--medium-transition);
}

.navigation.show {
  transform: translateX(0);
}

.navigation.hide {
  transform: translateX(-240px);
}

.content {
  overflow: scroll;
  padding: 16px 12px 0;
  height: 100%;

  display: grid;
  gap: 60px;

  background: #e3e8ff;

  overscroll-behavior: none;
}

.links {
  display: grid;
  gap: 20px;
  justify-items: start;
  align-content: start;
}

.logo {
  margin-left: 8px;
  margin-bottom: -5px;
}

.listPanel {
  display: grid;
  gap: 12px;
  justify-self: center;
}

.greetingTexts {
  display: grid;
  grid-template-columns: 24px auto;
  gap: 6px;

  font: var(--sf-pro-text-caption);
  font-weight: 600;

  color: var(--dark-text2);
}

.list {
  overflow: scroll;
  max-height: 196px;

  scroll-behavior: smooth;
}

.organizationText {
  width: 198px;

  display: grid;
  grid-template-columns: auto 12px;
}

.organizationText > p {
  color: var(--dark-text2);

  font: var(--sf-pro-text-tiny);
  text-transform: uppercase;
  font-weight: 500;
}

.plusButton {
  display: grid;

  cursor: pointer;

  transition: var(--fast-transition);
}

.plusButton svg path:nth-of-type(1) {
  opacity: 0.6;
}

.plusButton:hover svg path:nth-of-type(1) {
  fill: var(--blue-accent);
  opacity: 1;
}

.announcement {
  padding-bottom: 83px;

  align-self: end;
}

.subMenu {
  position: fixed;
  bottom: 1px;
  left: 250px;
}

.profileButton {
  position: fixed;
  bottom: 0;

  padding: 12px 14px;
  border-top: 1px solid #bbbbbb;

  display: grid;
  grid-template-columns: 36px 140px 12px;
  gap: 12px;
  align-items: center;

  background: #e3e8ff;
}

.profileButton svg path:nth-of-type(1) {
  opacity: 0.6;
}

.profileButton.active svg {
  transform: rotate(-90deg);
}

@media (max-width: 930px) {
  .subMenu {
    left: 1px;
    bottom: 69px;
  }
  .profileButton.active svg {
    transform: rotate(-180deg);
  }
}

.profileButton.active svg path:nth-of-type(1),
.profileButton:hover svg path:nth-of-type(1) {
  opacity: 1;
  fill: var(--blue-accent);
}

.profileButton .texts {
  display: grid;
}

.profileButton .texts p {
  text-align: start;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.profileButton .texts p:nth-of-type(1) {
  color: var(--dark-text);

  font: var(--sf-pro-text-small);
  font-weight: 600;
}

.profileButton .texts p:nth-of-type(2) {
  color: var(--dark-text2);

  font: var(--sf-pro-text-tiny);
}
