.badge {
  border-radius: 30px;

  display: grid;
  grid-auto-flow: column;
  gap: 6px;
  align-items: center;

  background: white;
}

.badge.showName {
  padding: 10px;

  box-shadow: var(--light-medium-shadow);
}

.badge p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  font: var(--sf-pro-text-small);
  font-weight: 500;
}

.avatar {
  border-radius: 50%;
}
