.section {
  position: relative;

  width: 100%;
  margin-top: clamp(200px, 37vw, 460px);

  display: grid;
  justify-items: center;
}

.wave {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  min-width: 2300px;
  aspect-ratio: 2560 / 1640;

  background-size: 100% 100%;
  background-repeat: no-repeat;

  background-image: url("/images/wave-backgrounds/home-waves/home-wave4.svg");
}

@media (max-width: 1200px) {
  .wave {
    min-width: 2100px;
    margin-left: 150px;
  }
}

@media (max-width: 860px) {
  .wave {
    margin-top: -10px;
  }
}

@media (max-width: 690px) {
  .wave {
    top: -460px;
    left: -1000px;
    transform: none;

    min-width: 2560px;
    margin-top: 0px;
  }
}

@media (max-width: 500px) {
  .wave {
    left: -1200px;
  }
}

.content {
  z-index: 1;
  position: relative;

  width: 100%;
  max-width: 1250px;
  padding: 0 30px;

  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
}

@media (max-width: 1200px) {
  .content {
    grid-template-columns: minmax(200px, 1fr) 576px;
  }
}

@media (max-width: 1000px) {
  .content {
    grid-template-columns: minmax(200px, 1fr) 544px;
  }
}

@media (max-width: 952px) {
  .content {
    grid-template-columns: minmax(200px, 1fr) 512px;
  }
}

@media (max-width: 920px) {
  .content {
    grid-template-columns: minmax(200px, 1fr) 480px;
  }
}

@media (max-width: 848px) {
  .content {
    grid-template-columns: 288px 480px;
  }
}

@media (max-width: 690px) {
  .content {
    padding: 0 15px;

    gap: 60px;
    grid-template-columns: none;
  }
}

@media (max-width: 430px) {
  .content {
    gap: 40px;
  }
}

@media (max-width: 330px) {
  .content {
    padding: 0 10px;
  }
}

.info {
  width: 100%;

  display: grid;
  gap: 60px;
  justify-items: start;
}

@media (max-width: 900px) {
  .info {
    gap: 40px;
  }
}

.texts {
  max-width: 440px;

  display: grid;
  gap: 20px;
  justify-items: start;
}

.caption {
  font: var(--sf-pro-text-caption);
  font-weight: 600;
  text-transform: uppercase;

  color: var(--light-text2);
}

.title {
  font: var(--sf-pro-display-h3);

  color: var(--light-text);
}

.description {
  font: var(--sf-pro-text-medium);

  color: var(--light-text);
}

@media (max-width: 900px) {
  .title {
    font: var(--sf-pro-display-h4);
  }

  .description {
    max-width: 410px;

    font: var(--sf-pro-text-caption);
  }
}

.stats {
  max-width: 440px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  align-items: start;
}

@media (max-width: 690px) {
  .stats {
    max-width: 100%;
  }
}

@media (max-width: 440px) {
  .stats {
    grid-template-columns: none;
  }
}

.illustration {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(50%) translateY(-100%);
}

@media (max-width: 1400px) {
  .illustration {
    right: -50px;
    top: 50px;
    transform: translateX(0) translateY(-100%);
  }
}

@media (max-width: 1200px) {
  .illustration {
    top: auto;
    bottom: 180px;
    right: 0;
    transform: translateX(0) translateY(100%);
  }
}

@media (max-width: 690px) {
  .illustration {
    display: none;
  }
}

.animation {
  position: relative;

  width: 100%;
}

.animation > img {
  position: absolute;
  top: 50%;
  right: -30px;
  transform: translateY(-50%);

  transform-origin: right top;
}

@media (max-width: 1200px) {
  .animation > img {
    transform: scale(0.9) translateY(-50%);
  }
}

@media (max-width: 1000px) {
  .animation > img {
    transform: scale(0.85) translateY(-50%);
  }
}

@media (max-width: 952px) {
  .animation > img {
    transform: scale(0.8) translateY(-50%);
  }
}

@media (max-width: 920px) {
  .animation > img {
    transform: scale(0.75) translateY(-50%);
  }
}

@media (max-width: 690px) {
  .animation > img {
    left: 50%;
    transform: scale(0.9) translateX(-50%);

    transform-origin: left top;
  }
}

@media (max-width: 600px) {
  .animation > img {
    transform: scale(0.85) translateX(-50%);
  }
}

@media (max-width: 560px) {
  .animation > img {
    transform: scale(0.8) translateX(-50%);
  }
}

@media (max-width: 530px) {
  .animation > img {
    transform: scale(0.75) translateX(-50%);
  }
}

@media (max-width: 500px) {
  .animation > img {
    transform: scale(0.7) translateX(-50%);
  }
}

@media (max-width: 460px) {
  .animation > img {
    transform: scale(0.65) translateX(-50%);
  }
}

@media (max-width: 430px) {
  .animation > img {
    transform: scale(0.6) translateX(-50%);
  }
}

@media (max-width: 400px) {
  .animation > img {
    transform: scale(0.55) translateX(-50%);
  }
}

@media (max-width: 370px) {
  .animation > img {
    transform: scale(0.5) translateX(-50%);
  }
}

@media (max-width: 340px) {
  .animation > img {
    transform: scale(0.45) translateX(-50%);
  }
}
