.form {
  position: relative;

  overflow: scroll;
  border-radius: 12px;

  background: white;
  box-shadow: var(--dark-medium-shadow);

  scroll-behavior: smooth;
  pointer-events: auto;
}

.form :global {
  animation: slideDownFadeIn 1s cubic-bezier(0.2, 0.8, 0.2, 1) forwards;
}

.form.login,
.form.card,
.form.note {
  width: clamp(300px, 100%, 500px);
  height: 600px;
}

.form.identity {
  width: clamp(300px, 100%, 725px);
  height: 800px;
}

.sections {
  position: relative;

  padding: 30px;

  display: grid;
  gap: 24px;

  transition: var(--medium-transition);
}

.sections h5 {
  margin-bottom: 6px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;

  font: var(--sf-pro-display-h5);
}

.name {
  display: grid;
  grid-template-columns: 86px auto;
  align-items: center;
  gap: 16px;
}

.tagsManager {
  display: grid;
  gap: 10px;
  justify-items: start;
}

.tagsManager > p {
  font: var(--sf-pro-text-small);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.newTagButton {
  display: grid;
  grid-auto-flow: column;
  gap: 4px;
  align-items: center;
  justify-content: start;

  color: var(--blue-accent);

  font: var(--sf-pro-text-small);
}

.newTagButton:hover {
  text-decoration: underline;
}

.newTagButton.tagVisible {
  color: var(--error-semantic);
}

.newTagButton svg path {
  fill: var(--blue-accent);
}

.newTagButton.tagVisible svg path {
  fill: var(--error-semantic);
}

.iconBackground {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px var(--blue-accent);

  display: grid;
  place-items: center;
}

.newTagButton.tagVisible .iconBackground {
  box-shadow: inset 0 0 0 1px var(--error-semantic);
}

.timestamps {
  display: grid;
  gap: 4px;
  justify-items: center;
}

.timestamps p {
  text-align: center;

  font: var(--sf-pro-text-tiny);
}

.actionButtons {
  position: sticky;
  left: 0;
  bottom: 0;

  padding: 16px 30px;
  border-top: 1px solid #bbbbbb;

  display: grid;
  grid-auto-flow: column;
  align-items: center;

  background: #fbfbfb;

  transition: var(--medium-transition);
}

.actionButtons > div:nth-of-type(1) {
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
  justify-self: start;
}

.actionButtons > div:nth-of-type(2) {
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  justify-self: end;
}

@media (max-width: 400px) {
  .sections {
    padding: 20px;
  }
  .actionButtons {
    padding: 16px 15px;
  }
  .actionButtons > div:nth-of-type(1) {
    gap: 10px;
  }
}

@media (max-width: 340px) {
  .actionButtons {
    padding: 16px 10px;
  }
  .actionButtons > div:nth-of-type(1) {
    gap: 6px;
  }
}

.likeButton,
.trashButton {
  display: grid;
  place-items: center;
}

.likeButton svg path {
  fill: var(--blue-accent);
}

.trashButton {
  width: 36px;
  height: 36px;
  border-radius: 6px;
  box-shadow: inset 0 0 0 1px var(--error-semantic);

  background: white;

  transition: var(--fast-transition);
}

.trashButton:hover {
  background: var(--error-semantic);
}

.trashButton svg path {
  fill: var(--error-semantic);
}

.trashButton:hover svg path {
  fill: white;
}

.block {
  height: 76px;
}
