.list {
  white-space: nowrap;

  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 6px;

  font: var(--sf-pro-text-small);
}

.list::before {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  content: "";
}

.list.loginSuccess::before {
  background: var(--green-tag);
}

.list.recordFilled::before {
  background: var(--blue-tag);
}

.list.recordOpened::before {
  background: var(--yellow-tag);
}

.list.loginFailed::before {
  background: var(--red-tag);
}

.list.recordUpdated::before {
  background: var(--purple-tag);
}
