.navigation {
  z-index: 2;
  position: fixed;
  top: 0;

  width: 100%;
  height: 78px;
  border-bottom: 1px solid #bbbbbb;

  display: grid;
  align-items: center;

  background: var(--light-background);
}

.navigation :global {
  animation: slideDownFadeIn 0.5s cubic-bezier(0.2, 0.8, 0.2, 1) forwards;
}

.navigation > * {
  position: absolute;
}

.menu {
  left: 50%;
  top: 67px;
  transform: translateX(-50%);
}

.logo {
  margin-left: 20px;
}

.divider {
  left: 240px;
}

@media (max-width: 760px) {
  .divider {
    display: none;
  }
}

.title {
  max-width: calc(100% - 172px);

  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  align-items: center;
  place-self: center;

  cursor: pointer;
}

.title svg path:nth-of-type(1) {
  opacity: 0.6;
}

.name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  font: var(--sf-pro-display-h5);
}
