.selector {
  z-index: 1;

  display: grid;
  grid-auto-flow: column;
  gap: 30px;
}

.button {
  position: relative;

  display: grid;
  grid-auto-flow: column;
  gap: 6px;

  color: var(--dark-text);

  font: var(--sf-pro-text-small);
}

.button.active::after {
  position: absolute;
  bottom: -8px;
  left: 0;

  width: 100%;
  height: 3px;
  border-radius: 6px;
  content: "";

  background: var(--blue-accent);
}

.button.active::after :global {
  animation: stretchFadeIn 0.5s cubic-bezier(0.2, 0.8, 0.2, 1) forwards;
}
