.modal {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 120px 10px;

  display: grid;
  align-items: start;
  justify-items: center;
}

@media (max-width: 330px) {
  .modal {
    padding: 120px 0;
  }
}

.inputGroup {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
