.modal {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 60px 10px;

  display: grid;
  align-items: start;
  justify-items: center;
}

@media (max-width: 340px) {
  .modal {
    padding: 60px 0;
  }
}

.inputGroup {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.password {
  position: relative;
}

.password > button {
  position: absolute;
  right: 6px;
  top: -2px;

  width: 24px;
  height: 24px;
}

.password > button svg path {
  fill: var(--blue-accent);
}
