.menu {
  transform: skewY(-5deg) rotate(5deg) translateY(-20px);

  padding: 12px;
  border-radius: 8px;
  border: 1px solid #cccccc;

  display: grid;
  gap: 20px;

  background: #e3e8ff;
  box-shadow: var(--light-medium-shadow);
  opacity: 0;
  visibility: hidden;

  transition: var(--fast-transition);
}

.menu.show {
  transform: skewY(0deg) rotate(0deg) translateY(0px);

  opacity: 1;
  visibility: visible;
}

.menu svg path:nth-of-type(1) {
  opacity: 0.6;
}
