.modal {
  width: clamp(300px, 100%, 400px);
  padding: 24px;
  border-radius: 12px;

  display: grid;
  justify-items: center;
  gap: 20px;

  background: white;
  box-shadow: var(--light-medium-shadow);
}

.checkboxes {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.passwordBackground {
  width: 100%;
  padding: 8px 10px;
  border-radius: 6px;

  display: grid;
  place-items: center;

  background: #339435;
}

.passwordText {
  width: 100%;
  word-break: break-all;
  text-align: center;
  white-space: normal;

  color: white;

  font: var(--sf-pro-text-medium);
  font-weight: 500;
}

.passwordText.caption {
  font: var(--sf-pro-text-caption);
  font-weight: 500;
}

.passwordText.small {
  font: var(--sf-pro-text-small);
  font-weight: 500;
}

.passwordText.tiny {
  font: var(--sf-pro-text-tiny);
  font-weight: 500;
}

.actions {
  width: 100%;
  margin-top: 10px;

  display: grid;
  grid-template-columns: 128px auto;
  gap: 10px;
  align-items: center;
}

.utilityButtons {
  display: grid;
  grid-template-columns: repeat(3, 36px);
  gap: 10px;
}

.squareButton {
  width: 36px;
  height: 36px;
  border-radius: 6px;
  box-shadow: inset 0 0 0 1px #cccccc;

  display: grid;
  place-items: center;

  background: white;

  transition: var(--fast-transition);
}

.squareButton:hover {
  background: #eeeeee;
}

.squareButton svg path:nth-of-type(1) {
  opacity: 0.6;
}

.squareButton:hover svg path:nth-of-type(1) {
  opacity: 1;
}

.submitButtons {
  width: 100%;
  max-width: 200px;

  display: grid;
  grid-auto-flow: column;
  gap: 12px;
  justify-self: end;
}
