.button {
  width: 100%;

  display: grid;
  grid-template-columns: 64px auto;
  gap: 16px;
  align-items: center;

  transition: var(--fast-transition);
}

.button:hover {
  text-decoration: underline;

  transform: translateY(-2px);
}

.iconBackground {
  width: 64px;
  height: 64px;
  border-radius: 10px;

  display: grid;
  place-items: center;

  background: white;
  box-shadow: var(--dark-soft-shadow);
}

.iconBackground svg path:nth-of-type(1) {
  opacity: 0.6;
}

.texts {
  display: grid;
  gap: 4px;
}

.texts h5 {
  white-space: nowrap;

  color: var(--dark-text);

  font: var(--sf-pro-display-h5);
}

.texts p {
  color: var(--dark-text2);

  font: var(--sf-pro-text-caption);
}
