.card {
  position: relative;

  width: 141px;
  height: 165px;
}

.frontCard,
.backCard {
  position: absolute;

  width: 100%;
  height: 100%;
  border-radius: 0px 20px 20px 20px;
}

.frontCard {
  z-index: 1;

  display: grid;
  place-items: center;

  background: rgba(255, 255, 255, 0.6);
  box-shadow: var(--light-medium-shadow);
  backdrop-filter: var(--heavy-blur);
}

.backCard {
  top: -13.99px;
  left: 13.17px;
  transform: rotate(-10deg);
}