.form {
  position: relative;

  overflow: hidden;
  width: clamp(300px, 100%, 500px);
  border-radius: 12px;
  padding: 30px;

  background: white;
  box-shadow: var(--dark-medium-shadow);

  transition: var(--medium-transition);
}

.form :global {
  animation: slideDownFadeIn 1s cubic-bezier(0.2, 0.8, 0.2, 1) forwards;
}

@media (max-width: 400px) {
  .form {
    padding: 20px;
  }
}

.modal {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 30px;

  display: grid;
  place-items: center;
}

@media (max-width: 690px) {
  .modal {
    padding: 15px;
  }
}

@media (max-width: 330px) {
  .modal {
    padding: 10px;
  }
}

.sections {
  width: 100%;

  display: grid;
  gap: 24px;
}

.sections h5 {
  margin-bottom: 6px;
  text-align: center;

  font: var(--sf-pro-display-h5);
}

.name {
  display: grid;
  grid-template-columns: 86px auto;
  align-items: center;
  gap: 16px;
}

.inputGroup {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.buttons {
  margin-top: 6px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}
