.video {
  position: relative;

  aspect-ratio: 16 / 9;
}

.video.showGradient::before,
.video.showGradient::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 100%;
  width: 100%;
  border-radius: 20px;
  content: "";

  background: conic-gradient(
    from var(--angle),
    transparent 40%,
    #f15637,
    #635bff,
    #00d7ff,
    #0572ec
  );
}

.video.showGradient::after {
  filter: blur(20px);
  opacity: 0.5;
}

.video.showGradient::before:global,
.video.showGradient::after:global {
  animation: 12s spin linear infinite, fadeIn 4s forwards;
}

.iframe {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 4px;
  border: 0;
  border-radius: 20px;
}
