.input {
  width: 100%;
  height: 36px;
  border-radius: 8px;
  padding: 0 6px 0 8px;
  box-shadow: inset 0 0 0 1px #cccccc;

  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 8px;

  background: white;
}

.input:focus-within {
  box-shadow: inset 0 0 0 1px var(--blue-accent);
}

.input.squareBottom {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.input svg path:nth-of-type(1) {
  opacity: 0.6;
}
