.input {
  width: 100%;

  display: grid;
  gap: 10px;
  justify-items: start;
}

.input.required label {
  display: inline-block;
}

.input.required label::after {
  content: " *";

  color: var(--error-semantic);
}

.field {
  position: relative;

  width: 100%;
  height: 36px;
  padding: 0 6px 0 12px;
  border-radius: 8px;
  box-shadow: inset 0 0 0 1px #cccccc;

  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 10px;

  background: white;
}

.field.focus,
.field:focus-within {
  box-shadow: inset 0 0 0 1px var(--blue-accent);
}

.field.weak {
  box-shadow: inset 0 0 0 1px var(--error-semantic);
}

.field.fair {
  box-shadow: inset 0 0 0 1px var(--warning-semantic);
}

.field.strong {
  box-shadow: inset 0 0 0 1px var(--success-semantic);
}

.field.big {
  height: 44px;
  padding: 0 6px 0 16px;
}

.field.big input {
  font: var(--sf-pro-text-caption);
}

.button {
  width: 24px;
  height: 24px;

  justify-self: end;
}

.button svg path:nth-of-type(1) {
  opacity: 0.6;
}

.button:hover svg path:nth-of-type(1) {
  opacity: 1;
}
