.wrapper {
  position: relative;

  min-width: 100vw;
  min-height: 100vh;

  background: var(--light-background);
}

.form {
  overflow: scroll;
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 30px;

  display: grid;
  place-items: center;
}

@media (max-width: 690px) {
  .form {
    padding: 15px;
  }
}

@media (max-width: 330px) {
  .form {
    padding: 10px;
  }
}

.contentWrapper {
  padding: 100px 30px 0 270px;

  display: grid;
  gap: 30px;
  justify-items: start;

  transition: var(--medium-transition);
}

@media (max-width: 930px) {
  .contentWrapper {
    padding-left: 30px;
  }
}

@media (max-width: 690px) {
  .contentWrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 330px) {
  .contentWrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.texts {
  display: grid;
  gap: 8px;
}

.texts h5 {
  word-break: break-all;

  font: var(--sf-pro-display-h5);
}

.texts p {
  font: var(--sf-pro-text-caption);
}

.texts a {
  color: var(--blue-accent);
  opacity: 0.9;

  font-weight: 600;
}

.texts a:hover {
  opacity: 1;
}

.vaults {
  width: 100%;

  display: grid;
  gap: 18px;
  justify-items: start;
}

.cards {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
}
