.input {
  width: 100%;

  display: grid;
  gap: 10px;
  justify-items: start;
}

.field {
  width: 100%;
  height: 36px;
  border-radius: 8px;
  padding: 0 6px;
  box-shadow: inset 0 0 0 1px #cccccc;

  display: grid;
  align-items: center;
  justify-items: start;
  grid-template-columns: auto 1fr;
  gap: 6px;

  background: white;
}

.field input {
  caret-color: transparent;

  cursor: pointer;
}

.button {
  width: 24px;
  height: 24px;

  justify-self: end;
}

.button svg path:nth-of-type(1) {
  opacity: 0.6;
}

.button:hover svg path:nth-of-type(1) {
  opacity: 1;
}
