.meter {
  position: relative;

  width: 100%;
  height: 10px;
  border-radius: 6px;
  overflow: hidden;

  background: #eeeeee;
}

.meter::after {
  position: absolute;

  width: 0%;
  height: 10px;
  content: "";

  transition: var(--medium-transition);
}

.meter.weak::after {
  width: 25%;
  background: var(--error-semantic);
}

.meter.fair::after {
  width: 50%;
  background: var(--warning-semantic);
}

.meter.good::after {
  width: 75%;
  background: var(--success-semantic);
}

.meter.strong::after {
  width: 100%;
  background: var(--success-semantic);
}
