.card {
  width: clamp(300px, 100%, 370px);
  padding: 20px;
  border-radius: 20px;

  display: grid;
  gap: 10px;

  background: white;
  box-shadow: var(--light-medium-shadow);
}

.question {
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
}

.question h5 {
  align-self: center;

  font: var(--sf-pro-display-h5);
}

.answer {
  font: var(--sf-pro-text-caption);
}

.badge {
  width: 46px;
  height: 46px;
  border-radius: 50%;

  display: grid;
  justify-self: end;
  place-items: center;

  background: #eeeeee;
}

.iconBackground {
  width: 38px;
  height: 38px;
  border-radius: 50%;

  display: grid;
  place-items: center;

  background: linear-gradient(143.02deg, #ff7a5f 0%, #b366ff 106.76%);
}

.iconBackground svg path {
  fill: white;
}
