.button {
  padding: 8px 16px;
  border-radius: 20px;
  box-shadow: inset 0 0 0 1px var(--blue-accent);
  white-space: nowrap;

  display: grid;
  grid-template-columns: 12px auto;
  gap: 8px;
  align-items: center;

  color: var(--blue-accent);
  background: white;

  font: var(--sf-pro-text-caption);
  font-weight: 600;

  transition: var(--fast-transition);
}

.button:hover {
  color: white;
  background: var(--blue-accent);
}

.button svg path {
  fill: var(--blue-accent);
}

.button:hover svg path {
  fill: white;
}
