.button {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: inset 0 0 0 1px #cccccc;
  white-space: nowrap;

  background: white;

  font: var(--sf-pro-text-caption);
  font-weight: 500;

  transition: var(--fast-transition);
}

.button:hover {
  background: #eeeeee;
}
