.modal {
  width: 408px;
  padding: 24px;
  border-radius: 20px;

  display: grid;
  gap: 20px;

  background: white;
  box-shadow: var(--light-medium-shadow);
}

.modal.showError :global {
  animation: shake 1s cubic-bezier(0.2, 0.8, 0.2, 1) forwards;
}

.texts {
  display: grid;
  gap: 6px;
}

.texts p:nth-of-type(1) {
  color: var(--dark-text);

  font: var(--sf-pro-text-medium);
  font-weight: 600;
}

.texts p:nth-of-type(2) {
  color: var(--dark-text2);

  font: var(--sf-pro-text-caption);
}

.buttons {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}
