.wrapper {
  min-width: 100vw;
  min-height: 100vh;

  background: var(--light-background);
}

.contentWrapper {
  position: relative;

  min-height: 100vh;
  padding: 120px;

  display: grid;
  place-items: center;

  transition: var(--medium-transition);
}

@media (max-width: 690px) {
  .contentWrapper {
    padding: 120px 15px 15px;

    align-items: start;
    justify-items: center;
  }
}

@media (max-width: 330px) {
  .contentWrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.button {
  position: absolute;
  top: 16px;
  left: 20px;
}
