.card {
  position: relative;

  padding: 30px 20px 0;
  width: 100%;
  height: 270px;
  border-radius: 20px;

  background: white;
  box-shadow: var(--light-soft-shadow);

  font: var(--sf-pro-text-small);

  transition: var(--medium-transition);
  cursor: pointer;
}

.card:hover {
  transform: translateY(-4px);

  box-shadow: var(--light-medium-shadow);
}

.button {
  position: absolute;
  top: 14px;
  right: 16px;
}

.info {
  display: grid;
  gap: 20px;
  justify-items: center;
}

.info p {
  width: 100%;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  color: var(--dark-text);
}

.size {
  position: absolute;
  bottom: 20px;
  left: 20px;

  color: var(--dark-text2);
}

.progress {
  position: absolute;
  bottom: 20px;
  right: 20px;

  color: var(--dark-text2);
}
