.wrapper {
  position: relative;

  min-width: 100vw;
  min-height: 100vh;

  background: var(--light-background);
}

.form,
.modal {
  overflow: scroll;
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 30px;

  display: grid;
  place-items: center;
}

@media (max-width: 690px) {
  .form,
  .modal {
    padding: 15px;
  }
}

@media (max-width: 330px) {
  .form,
  .modal {
    padding: 10px;
  }
}

.contentWrapper {
  padding: 100px 30px 0 270px;

  display: grid;
  gap: 18px;
  justify-items: start;

  transition: var(--medium-transition);
}

@media (max-width: 930px) {
  .contentWrapper {
    padding-left: 30px;
  }
}

@media (max-width: 690px) {
  .contentWrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 330px) {
  .contentWrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.files {
  width: 100%;
}

.cards {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
}
