.modal {
  position: relative;

  width: clamp(300px, 100%, 408px);
  height: 500px;
  border-radius: 12px;
  padding: 24px;

  display: grid;
  gap: 20px;
  justify-items: start;
  align-content: start;

  background: white;
  box-shadow: var(--light-medium-shadow);
}

.modal > p {
  color: var(--dark-text);

  font: var(--sf-pro-text-medium);
  font-weight: 600;
}

.lists {
  overflow: scroll;
  width: calc(100% + 48px);
  margin: -14px -24px -24px;
  padding-bottom: 2px;
  border-top: 1px solid #bbbbbb;

  display: grid;
}
