.input {
  position: relative;

  width: 100%;

  display: grid;
  gap: 10px;
  justify-items: start;
}

.field {
  position: relative;

  width: 100%;
  height: 36px;
  border-radius: 8px;
  padding: 0 6px;
  box-shadow: inset 0 0 0 1px #cccccc;

  display: grid;
  align-items: center;
  justify-items: start;

  background: white;
}
