.card {
  position: relative;

  overflow: hidden;
  border-radius: 20px;

  display: grid;

  background: white;

  cursor: pointer;
}

.card.big {
  width: clamp(1100px, 100%, 1190px);
  height: 438px;

  grid-auto-flow: column;
  place-items: start;

  box-shadow: var(--light-heavy-shadow);
}

.card.small {
  width: clamp(300px, 100%, 370px);
  height: 504px;

  box-shadow: var(--light-medium-shadow);
}

.background {
  position: relative;

  overflow: hidden;

  display: grid;
  place-items: center;
}

.card.big .background {
  width: 550px;
  height: 438px;
}

.card.small .background {
  height: 234px;
}

.image {
  position: absolute;

  transition: var(--medium-transition);
}

.card.big .image {
  width: 766.5px;
  height: 438px;
}

.card.small .image {
  width: 409.5px;
  height: 234px;
}

.card:hover .image {
  scale: 1.05;
}

.content {
  display: grid;
  justify-items: start;
}

.card.big .content {
  height: 100%;
  padding: 30px;

  gap: 20px;
}

.card.small .content {
  padding: 28px 20px 20px;

  gap: 20px;
}

.tags {
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
}

.card.small .tags {
  position: absolute;
  top: 216px;
  left: 20px;
}

.texts {
  display: grid;
}

.card.small .texts {
  gap: 10px;
}

.card.big .texts {
  gap: 20px;
}

.texts h3 {
  color: var(--dark-text);

  font: var(--sf-pro-display-h3);
}

.texts h4 {
  color: var(--dark-text);

  font: var(--sf-pro-display-h4);
}
.card.big .texts h3,
.card.small .texts h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.texts p {
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;

  color: var(--dark-text2);
}

.card.big .texts p {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;

  font: var(--sf-pro-text-large);
}

.card.small .texts p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  font: var(--sf-pro-text-caption);
}

.authorByline {
  width: 100%;

  display: grid;
  grid-auto-flow: column;
  align-items: center;
  align-self: end;
  justify-content: space-between;
  gap: 10px;

  color: var(--blue-accent);
}

.authorByline > p {
  text-align: center;
}

.card.big .authorByline {
  font: var(--sf-pro-text-large);
  font-weight: 500;
}

.card.small .authorByline {
  font: var(--sf-pro-text-caption);
  font-weight: 500;
}

.author {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 10px;
}
