.input {
  position: relative;
  z-index: 1;

  width: 100%;

  display: grid;
  gap: 10px;
  justify-items: start;
}

.field {
  position: relative;

  width: 100%;
  height: 36px;
  border-radius: 8px;
  padding: 0 36px 0 12px;
  box-shadow: inset 0 0 0 1px #cccccc;

  display: grid;
  align-items: center;

  background: white;
}

.field.focus {
  box-shadow: inset 0 0 0 1px var(--blue-accent);
}

.field input {
  background: transparent;
  caret-color: transparent;

  cursor: pointer;
  user-select: none;
}

.button {
  position: absolute;
  bottom: 4px;
  right: 4px;
}

.menu {
  position: absolute;
  top: 70px;

  width: 100%;
}
