.modal {
  width: clamp(300px, 100%, 330px);
  padding: 24px;
  border-radius: 20px;

  display: grid;
  gap: 20px;

  background: white;
  box-shadow: var(--light-medium-shadow);
}

.header {
  display: grid;
  grid-template-columns: 68px auto 68px;
  gap: 10px;
  place-items: center;
}

.header p {
  text-align: center;

  font: var(--sf-pro-text-small);
  font-weight: 500;
}

.calendarButtons {
  display: grid;
  gap: 8px;
  grid-auto-flow: column;
}

.weekdays,
.dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  row-gap: 10px;
  column-gap: clamp(4px, calc((100% - 210px) / 6), 12px);
}

.dates {
  margin-top: -10px;
}

.dateButton {
  width: 30px;
  height: 30px;
  border-radius: 8px;

  display: grid;
  place-items: center;

  color: black;

  font: var(--sf-pro-text-small);
  font-weight: 500;
}

.dateButton.currentDate {
  background: #eeeeee;
}

.dateButton:hover,
.dateButton.active {
  color: white;
  background: var(--blue-accent);
}

.dateButton.disabled {
  color: rgba(0, 0, 0, 0.4);
  background: none;

  cursor: not-allowed;
  pointer-events: none;
}

.submitButtons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}
