rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /{fileName} {
      allow read: if request.auth != null && 
                     fileName == "Foxbox User Manual.pdf";
    }

    match /users/{userId}/files/{fileId} {
      allow read, delete: if request.auth != null && request.auth.uid == userId;

      allow create: if request.auth != null && 
                      request.auth.uid == userId &&
                      request.resource.size < 20 * 1024 * 1024;
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
