.layout {
  overflow: hidden;
  min-width: 100vw;
  min-height: 100vh;

  background: var(--light-background);
}

.loader {
  min-height: 100vh;

  display: grid;
  place-items: center;
}

.header {
  margin: 30px auto 0;
  width: 100%;
  max-width: 1250px;
  padding: 0 30px;

  display: grid;
  justify-items: center;
}

@media (max-width: 690px) {
  .header {
    padding: 0 15px;
  }
}

@media (max-width: 330px) {
  .header {
    padding: 0 10px;
  }
}
