.indicator {
  display: grid;
  grid-auto-flow: column;
  gap: 8px;
}

.indicator span {
  border-radius: 50%;
  width: 7px;
  height: 7px;
}

.indicator.one span:nth-of-type(1) {
  background: rgba(0, 0, 0, 0.6);
}

.indicator.one span:nth-of-type(2) {
  background: rgba(0, 0, 0, 0.2);
}

.indicator.two span:nth-of-type(1) {
  background: rgba(0, 0, 0, 0.2);
}

.indicator.two span:nth-of-type(2) {
  background: rgba(0, 0, 0, 0.6);
}
