.checkbox {
  display: grid;
  gap: 6px;

  justify-items: center;
}

.box {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px #cccccc;

  display: grid;
  place-items: center;

  background: transparent;
}

.input {
  display: none;
}

.check {
  opacity: 0;
}

.check.checked {
  opacity: 1;
}

.check svg path {
  fill: var(--blue-accent);
}

.label {
  color: rgba(0, 0, 0, 0.7);

  font: var(--sf-pro-text-tiny);

  user-select: none;
}

.label.selected {
  color: var(--blue-accent);
}
