.button {
  width: 30px;
  height: 30px;
  border-radius: 8px;
  box-shadow: inset 0 0 0 1px #cccccc;

  display: grid;
  place-items: center;

  background: white;
}

.button:hover {
  background: #eeeeee;
}

.button.forward {
  transform: rotate(-90deg);
}

.button.backward {
  transform: rotate(90deg);
}

.button svg path:nth-of-type(1) {
  opacity: 0.6;
}

.button:hover svg path:nth-of-type(1) {
  opacity: 1;
}
